@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Niraj M. Athawale</h1>
    <p class="lead">Personal Website</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Me</h2>
        <p>My Hobbies</p>
        <p><a href="http://www.f1.com">Formula 1 Racing</a></p>
        <p><a href="http://www.packers.com">NFL - Green Bay Packers</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Family</h2>
    </div>
    <div class="col-md-4">
        <h2>My Work</h2>
        <p></p>
        <p></p>
    </div>
</div>